<!--The content below is only a placeholder and can be replaced.-->
<header class="header">
  <div class="header__logo-container">
    <a class="header__logo" href=""><img src="../assets/img/logo.png" alt="logo"></a>
  </div>
  <div class="header__actions">
    <div class="header__links">
      <a class="header__explore" href="">Explore</a>
      <a class="header__join" href="">Join as a Pro</a>
    </div>
    <div class="header__buttons">
      <button class="header__signup">Sign Up</button>
      <button class="header__login">Log In</button>
    </div>
  </div>
</header>


