.header  {
  margin-top: 10px;
  display: flex;
  padding-left: 160px;
  padding-right: 160px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-height: 100px;

&__actions{
   display: flex;
 }

  &__links{
    margin-right: 30px;
    font-size: 18px;
    margin-top: 8px;
    color: black;

  }
  &__buttons{
    border-left: 1.8px solid #D0D0D0;
    padding-left: 40px;

  }
  &__explore{
    margin-right: 40px;
    text-decoration: none;
    &:visited{
      color: black;
    }
  }
  &__join{
    text-decoration: none;
    &:visited{
      color: black;
    }
  }
  &__signup{
    height: 42px;
    width: 120px;
    margin-right: 10px;
    background-color: #D0D0D0;
    border-radius: 5px;
    border-style: none;
    color: white;
  }
  &__login{
    height: 42px;
    width: 120px;
    background-color: #7ED321;
    border-radius: 5px;
    border-style: none;
    color: white;
  }


&__logo-image{
  width: 150px;

 }
&__explore{

 }
&__join{

 }
&__signup{

 }
&__login{

 }
}
