<footer class="footer">
  <div class="footer__main">
    <div class="footer__social">
      <div class="footer__logo-container">
        <a class="footer__logo" href=""><img class="footer__logo-image" src="../assets/img/logo.png" alt="logo"></a>
      </div>
      <div class="footer__social-container">
        <a class="footer__twitter" href="">t</a>
        <a class="footer__facebook" href="">f</a>
        <a class="footer__circle" href="">c</a>
        <a class="footer__instagram" href="">i</a>
        <a class="footer__google" href="">g</a>
      </div>
    </div>
    <div class="footer__company-container">
      <h3>Company</h3>
      <a class="footer__links" href="">About</a>
      <a class="footer__links" href="">Careers</a>
      <a class="footer__links" href="">Press</a>
      <a class="footer__links" href="">Blog</a>
    </div>
    <div class="footer__customers-container">
      <h3>Customers</h3>
      <a class="footer__links" href="">How it works</a>
      <a class="footer__links" href="">Safety</a>
      <a class="footer__links" href="">iPhone app</a>
      <a class="footer__links" href="">Android app</a>
      <a class="footer__links" href="">Services Near Me</a>
      <a class="footer__links" href="">Cost Estimates</a>
      <a class="footer__links" href="">How To Pages</a>
    </div>
    <div class="footer__pros-container">
      <h3>Pros</h3>
      <a class="footer__links" href="">How it works</a>
      <a class="footer__links" href="">Sign Up</a>
      <a class="footer__links" href="">Pro center</a>
      <a class="footer__links" href="">Success stories</a>
      <a class="footer__links" href="">Mobile app</a>
    </div>
    <div class="footer__support-container">
      <h3>Support</h3>
      <a class="footer__links" href="">Help center</a>
    </div>
  </div>

  <div class="footer__end">
    <div class="footer__copy">
      <p>© 2018 FINDRPRO</p>
    </div>
    <div class="footer__end-links">
      <a class="footer__end-privacy" href="">Privacy Policy</a>
      <a class="footer__end-terms" href="">Terms of Use</a>
    </div>
  </div>
</footer>
